<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Upload de PDF - Protótipo Framework</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="container">
        <h2>Insira abaixo o documento PDF</h2>
        <form action="/upload-pdf/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".pdf" required />
            <button type="submit">Enviar PDF</button>
        </form>
    </div>
</body>
</html>
